@media (max-width: 1300px) {
  .container {
    max-width: 1024px;
  }
  .header__main__flex {
    width: 100%;
    justify-content: space-between;
    gap: 24px;
  }
  .header__main__flex__logo {
    display: none;
  }
  .header__main__flex__nav {
    width: 100%;
    margin-left: -10px;
  }
  .header__main__flex__nav__list {
    gap: 39px;
  }
  .header__main__mobile {
    display: block;
  }
  .header__row__flex {
    padding: 15px 0;
  }
  .header__row__flex__age {
    display: none;
  }
  .header__row__flex__themes-list {
    gap: 8px;
    padding-right: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .header__row__flex__play {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 7px;
    padding-left: 6px;
  }
  .header__row__flex__play__block__title {
    width: 95px;
  }
  .header__banner__flex {
    background: url(../img/microphone.png) no-repeat 103% center / 256px 262px;
    padding: 90px 286px 90px 0;
  }
  .header__banner__flex__text {
    margin-bottom: 20px;
  }

  .podcasts__block {
    margin-bottom: 59px;
  }
  .podcasts__btn {
    margin: 0 36%;
  }

  .shows__row__archive {
    justify-content: flex-start;
    gap: 222px;
  }
  .shows__row__more {
    padding-top: 11px;
    gap: 29px 30px;
    margin-right: -15px;
  }
  .shows__row__more__item {
    width: calc((100% / 2) - (30px * 1) / 2);
  }

  .guests__about-text {
    max-width: 536px;
  }
  .guests__row {
    gap: 30px;
  }
  .guests__row__accordion-list {
    max-width: 539px;
  }
  .guests__row__accordion-list__item__content__list__item {
    width: calc((100% / 3) - (20px * 2) / 3);
  }
  .guests__row__item-about__user {
    max-width: 255px;
  }
  .guests__row__item-about__user__image {
    width: 100%;
  }

  .playlists__row {
    flex-direction: column;
    gap: 17px;
  }
  .playlists__row__left {
    max-width: none;
  }
  .playlists__row__left__radio {
    max-width: 500px;
    max-height: 160px;
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 0;
    flex-wrap: wrap;
  }
  .playlists__row__left__radio__label {
    max-width: fit-content;
  }
  .playlists__row__left__text:not(.mobile),
  .playlists__row__left__copyright:not(.mobile),
  .playlists__row__left__age:not(.mobile) {
    display: none;
  }
  .playlists__row__right {
    gap: 30px 40px;
    margin-bottom: 24px;
  }
  .playlists__row__right__item {
    width: calc((100% / 3) - (40px * 2) / 3);
    flex-direction: row;
  }
  .playlists__row__right__item::before {
    background: url("../img/playlists-play-btn.svg") no-repeat 28px 28px;
  }
  .playlists__row__right__item__region {
    right: auto;
    left: 0;
  }
  .playlists__row__right__item__about {
    padding: 0 0 0 10px;
    border: 1px solid #e6e8ec;
    border-left: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .playlists__row__right__item__image {
    max-width: 112px;
    max-height: 112px;
  }
  .playlists__row__right__item__about__subtitle {
    letter-spacing: -0.5px;
  }
  .playlists__row__mobile {
    width: 100%;
    display: block;
    padding-top: 38px;
    border-top: 1px solid #d2d5dd;
  }

  .radio__row {
    align-items: center;
    gap: 20px;
    margin-bottom: 0;
  }
  .radio__row__model {
    position: relative;
    max-width: 400px;
    max-height: 360px;
  }
  .radio__row__model::after {
    top: -20px;
    width: 100px;
    height: 100px;
  }
  .radio__row__model__image {
    width: 100%;
    margin-bottom: 40px;
  }
  .radio__row__about {
    margin-right: -15px;
    padding-left: 10px;
  }
  .radio__row__about__text {
    letter-spacing: -0.1px;
  }
  .radio__row__about__text:nth-child(3) {
    margin-bottom: 34px;
  }

  .about-us__main__description {
    width: 100%;
    padding-right: 295px;
    background: url(../img/about-us-background-1024px.svg) no-repeat center
      right / 255px 255px;
  }
  .about-us__main__description__subtitle {
    letter-spacing: -0.5px;
  }
}

@media (max-width: 1023px) {
  .container {
    max-width: 768px;
    padding: 0 114px;
  }

  .modal__window {
    max-width: 539px;
    padding: 60px 40px;
  }
  .modal__window__login__text {
    letter-spacing: -0.3px;
  }

  .header__mobile-menu {
    display: block;
  }

  .header__row__flex {
    margin-right: 0;
    padding: 18px 0;
  }
  .header__main__flex__nav {
    display: none;
  }
  .header__main__flex__burger {
    display: block;
  }
  .header__row__flex__themes-list {
    padding: 0;
    border: none;
    gap: 9px;
  }
  .header__row__flex__play:not(.last) {
    display: none;
  }
  .header__row__flex__play.last {
    border: none;
    margin: 0;
    padding: 0;
  }
  .header__row__flex__play__block {
    display: none;
  }
  .header__row__flex__play__logo {
    display: flex;
    align-items: center;
  }
  .header__banner__flex {
    padding-right: 0;
    background: none;
  }
  .header__banner__flex__text {
    margin-bottom: 23px;
  }

  .podcasts__block {
    margin-right: 0;
  }
  .podcasts__block__item {
    width: 100%;
  }
  .podcasts__btn {
    margin: 0 auto;
  }

  .shows {
    padding-bottom: 30px;
  }
  .shows__row {
    flex-direction: column;
  }
  .shows__row__archive__bottom:not(.mobile) {
    display: none;
  }
  .shows__row__archive__bottom.mobile {
    padding-top: 0;
    padding-left: 186px;
    background: url("../img/shows-mic.png") no-repeat 98px center / 70px 96px;
  }
  .shows__row__archive__bottom__btn {
    margin-bottom: 5px;
  }
  .shows__row__archive__bottom__text {
    max-width: 255px;
  }
  .shows__row__more {
    margin-right: 0;
    padding-bottom: 55px;
    border-bottom: 1px solid #e6e8ec;
  }
  .shows__row__more__item__about {
    padding: 22px 60px 18px 14px;
  }
  .shows__row__archive__top .choices .choices__inner {
    padding: 8px;
  }

  .guests__about-text {
    margin-bottom: 52px;
  }
  .guests__row {
    flex-direction: column;
    margin-right: 0;
    gap: 55px;
  }
  .guests__row__item-about {
    width: 100%;
  }
  .guests__row__item-about__none-user {
    max-width: none;
    width: 100%;
  }
  .guests__row__item-about__user {
    max-width: none;
  }
  .guests__row__item-about__user__story {
    max-width: 398px;
  }
  .guests__row__accordion-list__item__content__list {
    gap: 28px 20px;
  }

  .playlists__row {
    gap: 37px;
  }
  .playlists__row__left__radio {
    max-height: 200px;
    gap: 39px 27px;
  }
  .playlists__row__right {
    gap: 30px 35px;
    margin-right: 0;
    margin-bottom: 5px;
  }
  .playlists__row__right__item {
    width: calc((100% / 2) - (40px * 1) / 2);
    flex-direction: row;
  }

  .radio {
    padding: 54px 0 94px 0;
  }
  .radio__row {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }
  .radio__row__model {
    max-height: none;
    max-width: none;
  }
  .radio__row__model::after {
    top: -24px;
    width: 160px;
    height: 208px;
  }
  .radio__row__about {
    max-width: none;
    margin-right: 0;
    padding-left: 0;
  }
  .radio__row__about__title {
    max-width: 441px;
  }
  .radio__row__about__text {
    letter-spacing: normal;
  }
  .radio__row__about__text:nth-child(3) {
    max-width: 530px;
  }

  .about-us__main {
    gap: 26px;
  }
  .about-us__main__description {
    position: relative;
    padding-right: 0;
    padding-bottom: 142px;
    background: none;
  }
  .about-us__main__description__subtitle {
    letter-spacing: normal;
  }
  .about-us__main__description::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -114px;
    width: 654px;
    height: 112px;
    background: url(../img/about-us-background-768px.svg) no-repeat left center /
      contain;
  }
  .about-us__main__description__text {
    letter-spacing: normal;
  }
  .about-us__main .swiper {
    margin-right: 0;
  }
  .swiper-slide__image {
    margin-bottom: 26px;
  }
  .swiper .swiper-button-next {
    bottom: 736px;
    right: -65px;
  }
  .swiper .swiper-button-prev {
    bottom: 736px;
    left: -65px;
  }
  .about-us__main__form__row {
    flex-direction: column;
  }

  .footer__row {
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin-bottom: 80px;
  }
  .footer__row__links {
    align-items: center;
    gap: 24px;
  }
  .footer__row__links__social {
    gap: 37px;
  }
  .footer__row__links__social__logo svg {
    scale: 1.5;
  }
  .footer__row__nav {
    width: 100%;
  }
  .footer__row__nav__list {
    gap: 28px 179px;
    margin-left: -10px;
  }
  .footer__row__nav__list__item {
    width: calc((100% / 3) - (190px * 2) / 3);
  }
  .footer__row__nav__list {
    max-width: none;
  }
  .footer__copyright {
    padding: 20px 0 10px 0;
    background: url(../img/copyright-768px.svg) no-repeat top center / 100%;
  }
  .footer__copyright__text {
    margin-left: 0;
  }
}
