@font-face {
  font-family: "Muller";
  src: local("Muller-Light"), url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"),
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"), url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/OpenSans.woff") format("woff2"),
    url("../fonts/OpenSans.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

:root {
  --white-color: #ffffff;
  --black-color: #000000;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Muller", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: var(--white-color);
  color: #121723;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #121723;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 100px;
}

/* Header */

.header__main__flex {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  font-size: 20px;
  line-height: 20px;
  color: #121723;
}

.header__main__flex__nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.header__main__flex__buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__main__flex__buttons__search {
  cursor: pointer;
}

.header__main__flex__buttons__enter {
  cursor: pointer;
  max-width: 104px;
  background: none;
  outline: none;
  padding: 11px 32px;
  text-align: center;
  border: 2px solid #121723;
  border-radius: 77px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #121723;
}

.header__row {
  border-top: 1px solid #e6e8ec;
  border-bottom: 1px solid #e6e8ec;
}

.header__row__flex {
  margin-right: -14px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.header__row__flex__themes-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 53px;
  padding-right: 52px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-right: 1px solid #e6e8ec;
  margin-right: 12px;
}

.header__row__flex__themes-list__item__link {
  font-size: 16px;
  line-height: 16px;
}

.header__row__flex__play {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 48px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 12px;
  border-right: 1px solid #e6e8ec;
}

.header__row__flex__play.last {
  margin-right: 52px;
}

.header__row__flex__play__block__title {
  font-size: 12px;
  line-height: 12px;
  color: #a1a6b4;
  margin-bottom: 5px;
  letter-spacing: -0.3px;
}

.header__row__flex__play__block__name {
  font-size: 16px;
  line-height: 16px;
}

.header__row__flex__age {
  position: relative;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  width: 46px;
  height: 60px;
  background-color: #e6e8ec;
}

.header__row__flex__age::after {
  content: "12+";
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a1a6b4;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border-radius: 100px;
}

.header__banner__flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: url("../img/microphone.png") no-repeat center right / 350px 372px;
  padding: 94px 475px 94px 0;
}

.header__banner__flex__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  margin: 0 0 14px 0;
}

.header__banner__flex__title__italic {
  font-weight: 400;
  font-style: italic;
}

.header__banner__flex__text {
  font-size: 16px;
  line-height: 150%;
  margin: 0 0 45px 0;
}

.header__banner__flex__btn {
  cursor: pointer;
  padding: 25px 54px;
  border: none;
  outline: none;
  background: #6d31ee;
  border-radius: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

/* Podcasts */
.podcasts {
  padding: 94px 0;
  background-color: #e6e8ec;
}

.podcasts__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  margin-bottom: 30px;
}

.podcasts__btn {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  outline: none;
  background: none;
  padding: 25px 54px;
  border: 2px solid #6d31ee;
  border-radius: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #6d31ee;
}

.podcasts__block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  gap: 30px;
  margin-bottom: 60px;
}

.podcasts__block__item {
  position: relative;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  width: calc(50% - 15px);
}

.podcasts__block__item__date {
  padding: 3px 6px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  background-color: #e6e8ec;
}

.podcasts__block__item__img {
  height: 100%;
  max-width: 112px;
}

.podcasts__block__item__about {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.podcasts__block__item__about__row {
  display: flex;
  justify-content: space-between;
  padding: 24px 33px 24px 30px;
}

.podcasts__block__item__about__row__play-btn {
  cursor: pointer;
  padding-top: 9px;
}

.podcasts__block__item__about__row__description__time {
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 8px;
}

.podcasts__block__item__about__row__description__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 4px;
}

.podcasts__block__item__about__row__description__subtitle {
  font-size: 16px;
  line-height: 16px;
  color: #a1a6b4;
}

.podcasts__block__item__about__counters {
  display: flex;
  gap: 30px;
  padding: 10px 33px 9px 30px;
  border-top: 1px solid #e6e8ec;
}

.podcasts__block__item__about__counters__plays {
  font-size: 16px;
  line-height: 16px;
  color: #a1a6b4;
  padding-left: 16px;
  background: url("../img/podcasts-plays.svg") no-repeat left center / 10px 13px;
}

.podcasts__block__item__about__counters__likes {
  font-size: 16px;
  line-height: 16px;
  color: #a1a6b4;
  padding-left: 19px;
  background: url("../img/podcasts-likes.svg") no-repeat left center / 13px 12px;
}

.podcasts__block__item__about__counters__shares {
  font-size: 16px;
  line-height: 16px;
  color: #a1a6b4;
  padding-left: 18px;
  background: url("../img/podcasts-plays.svg") no-repeat left center / 12px 13px;
}
